*{
  background-color: indigo;
}

.container{
  position: relative;
  text-align: center;
}
.container-title{
  margin-top: 5 rem;
}

.btn{
  color: white;
  padding: 15px 30px;
  font-size: 16px;
}

.increment{
  background-color: green;
  margin: 1rem;
}

.decrement{
  background-color: red;
  margin: 1rem;
}

.reset{
  background-color: grey;
  margin: 1rem;
}

h2{
  color: aqua;
}